<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <startup>
		  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	  </startup>
	<appSettings>
		<add key="HostAddress" value="afiqcabbarli96@gmail.com" />
		<add key="ClientInfo" value="C:\GmailAPI\ClientCredentials\client_secret_757827767117-uhksoml8jjj2p6i0v1sjkdhrc32oipgc.apps.googleusercontent.com.json" />
		<add key="CredentialsInfo" value="C:\GmailAPI\CredentialsInfo" />
		<add key="GmailAttach" value="C:\GmailAPI\GmailAttachment" />
	</appSettings>
</configuration>
